.flightEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flightScheduleEditorDepartureDayBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
}

.saveFlightButton {
  margin: 8px;
  font-size: 18px;
}