.flightEditorRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 8px;
  flex-shrink: 0;
}

.flightEditorRow:hover {
  background-color: #031;
}

.flightEditorRow > div {
  flex: 1;
}

.flightEditorLabel {
  width: 180px;
  margin-right: 20px;
}

.flightEditorValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
}

.flightEditorButton {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 6px;
}

.flightEditorButton > div {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.disabled {
  color: #444;
}
