.flightsListControl {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.flightsListWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.85;
}

.flightsListToggleButton {
}
