.flightsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flightsListItem {
  color: #0a4;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flightsListItem:hover {
  background-color: #031;
}

.flightsListItemFlightCode,
.flightsListItemAirplaneShortName,
.flightsListItemRoute,
.flightsListItemDepartureTime {
  width: 80px;
  text-align: left;
  font-family: monospace;
}

.activeDayOfWeek {
  color: #0a4;
}

.inactiveDayOfWeek {
  color: #562;
}

.addFlightLabel {
  margin: 8px;
  color: #0a4;
  font-size: 18px;
}
