.modalWindow {
  position: fixed;
  left: 100px;
  right: 100px;
  top: 80px;
  bottom: 80px;
  border: 1px dotted #0a4;
  background-color: black;
}

.modalWindowTitle {
  color: #0a4;
  margin: 12px 24px 24px;
  border-bottom: 2px solid #0a4;
  padding-bottom: 6px;
  font-size: 22px;
}

.modalWindowClose {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  padding: 6px;
}

.modalWindowClose:hover {
  background-color: #031;
  color: black;
}
