
.scheduleEditorRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 8px;
}

.scheduleEditorRow:hover {
  background-color: #031;
}

.scheduleEditorLabel {
  width: 180px;
  margin-right: 20px;
}

.scheduleEditorValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
}

.scheduleEditorEditButton {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 6px;
}
