.scheduleEditor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scheduleEditorDepartureDayBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
}

.saveScheduleButton {
  margin: 8px;
  font-size: 18px;
}