.scheduleList {
  position: fixed;
  left: 100px;
  right: 100px;
  top: 80px;
  bottom: 80px;
  border: 1px dotted #0a4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.85;
  background-color: black;
}

.scheduleListClose {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  padding: 6px;
}

.scheduleListClose:hover {
  background-color: darkolivegreen;
  color: black;
}

.scheduleListItem {
  color: #0a4;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.activeDayOfWeek {
  color: #0a4;
}

.inactiveDayOfWeek {
  color: #562;
}
