.scheduleListControl {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.scheduleListWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.85;
}

.scheduleListClose:hover {
  background-color: darkolivegreen;
  color: black;
}

.scheduleListToggleButton {

}