.scheduleEditorRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 8px;
  flex-shrink: 0;
}

.scheduleEditorRow:hover {
  background-color: #031;
}

.scheduleEditorRow > div {
  flex: 1;
}

.scheduleEditorLabel {
  width: 180px;
  margin-right: 20px;
}

.scheduleEditorValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
}

.scheduleEditorButton {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 6px;
}

.scheduleEditorButton > div {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.disabled {
  color: #444;
}
