.scheduleDaysOfWeekEditor {
  display: flex;
  flex-direction: row;
}

.scheduleEditorDayBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
}
