.airportDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

.airportDetailsSection {
  display: flex;
  padding: 8px;
}

.airportDetailsSectionTitle {
  margin-right: 8px;
}

.airportDetailsSectionValue {
  display: flex;
  flex-direction: column;
}

.airportDetailsPaxDemandBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
